<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Обработка задачи</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <form id="data-order" action="javascript:void(0);">
            <input type="hidden" class="form-control" name="materialId" value="0">

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Задача</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
            </div>

            <div class="mb-3 {% if user.role.value == 'Мастер'%} hidden {% endif %}">
                <label for="exampleFormControlTextarea1" class="form-label" >Статус</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Мастерская</label>
                <select class="form-select" aria-label="Default select example" name="officeType">
                    <option value="Новокузнецкая">Новокузнецкая</option>
                    <option value="Арбатская">Арбатская</option>
                    <option value="Баррикадная">Баррикадная</option>
                    <option value="Менеджер">Менеджер</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Дата выполнения</label>
                <input type="date" class="form-control" name="date">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="isImportant">
                <label class="form-check-label" for="exampleCheck1">Срочная задача</label>
            </div>

            <div class="mb-3 form-check {% if user.role.value == 'Мастер'%} hidden {% endif %}">
                <input type="checkbox" class="form-check-input" name="isWork">
                <label class="form-check-label" for="exampleCheck1">Заказ в работе</label>
            </div>

            <div class="mb-3 form-check {% if user.role.value == 'Мастер'%} hidden {% endif %}">
                <input type="checkbox" class="form-check-input" name="isFinished">
                <label class="form-check-label" for="exampleCheck1">Задача  выполнена</label>
            </div>

            <hr>
            <button class="btn btn-primary" id="button-save-order">Сохранить</button>
            <button class="btn btn-danger" id="button-save-delete">Удалить</button>
        </form>
    </div>
</div>