<table class="table table-bordered" id="table-barricad">
    <thead>
    <tr>
        <th scope="col" class="color-barikad">#</th>
        <th scope="col" class="color-barikad">1</th>
        <th scope="col" class="color-barikad">2</th>
        <th scope="col" class="color-barikad">3</th>
        <th scope="col" class="color-barikad">4</th>
        <th scope="col" class="color-barikad">5</th>
        <th scope="col" class="color-barikad">6</th>
        <th scope="col" class="color-barikad">Cтатус дня</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-mo">
        <th scope="row" class="color-2">ПН <br><span class="mo">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-mo"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВТ <br><span class="tu">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-tu"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СР <br><span class="we">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-we"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ЧТ <br><span class="th">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-th"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ПТ <br><span class="fr">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-fr"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СБ <br><span class="sa">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-sa"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВС <br><span class="su">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-su"></td>
    </tr>
    </tbody>
</table>