<table class="table table-bordered" id="table-novokuz">
    <thead>
    <tr>
        <th scope="col" class="color-novokuz" width="110px">#</th>
        <th scope="col" class="color-novokuz" width="110px">1</th>
        <th scope="col" class="color-novokuz" width="110px">2</th>
        <th scope="col" class="color-novokuz" width="110px">3</th>
        <th scope="col" class="color-novokuz" width="110px">4</th>
        <th scope="col" class="color-novokuz" width="110px">5</th>
        <th scope="col" class="color-novokuz" width="110px">6</th>
        <th scope="col" class="color-novokuz" width="60px">Cтатус дня</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-mo">
        <th scope="row" class="color-2">ПН <br><span class="mo">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-mo"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВТ <br><span class="tu">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-tu"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СР <br><span class="we">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-we"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ЧТ <br><span class="th">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-th"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ПТ <br><span class="fr">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-fr"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СБ <br><span class="sa">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-sa"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВС <br><span class="su">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-su"></td>
    </tr>


    <tr class="row-mo">
        <th scope="row" class="color-2">ПН <br><span class="mo-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-mo-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВТ <br><span class="tu-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-tu-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СР <br><span class="we-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-we-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ЧТ <br><span class="th-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-th-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ПТ <br><span class="fr-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-fr-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">СБ <br><span class="sa-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-sa-2"></td>
    </tr>
    <tr class="row-tu">
        <th scope="row" class="color-2">ВС <br><span class="su-2">01.05.2024</span></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="status-su-2"></td>
    </tr>
    </tbody>
</table>